Repository Auto-Lab-Solutions/Web-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloudformation, python-syntax-check

validate-cloudformation:
  name: Validate CloudFormation Templates
  entry: bash -c
  args:
  - "for template in infrastructure/*.yaml; do\n  echo \"Validating $template\"\n  aws cloudformation validate-template --template-body file://$template --region ap-southeast-2 || exit 1\ndone\n"
  language: system
  pass_filenames: false

python-syntax-check:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system

fix: Update S3 key for email processor Lambda function to use a static filename
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

feat: Update S3 bucket policy to allow PutObjectAcl action and adjust resource path
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

feat: Add SES email storage system outputs to CloudFormation stack
  infrastructure/main-stack.yaml
Due: validate-cloudformation

fix: Correct key name from LambdaConfigurations to LambdaFunctionConfigurations in S3 email notifications
  deploy.sh
Due: none

refactor: Remove common_lib path additions from multiple Lambda functions
  lambda/api-backup-restore/main.py
  lambda/api-confirm-stripe-payment/main.py
  lambda/api-create-payment-intent/main.py
  lambda/api-email-suppression-manager/main.py
  lambda/api-get-analytics/main.py
  lambda/api-get-emails/main.py
  lambda/api-get-inquiries/main.py
  lambda/api-get-invoices/main.py
  lambda/api-get-messages/main.py
  lambda/api-get-prices/main.py
  lambda/api-get-report-upload-url/main.py
  lambda/api-get-staff-roles/main.py
  lambda/api-get-unavailable-slots/main.py
  lambda/api-get-users/main.py
  lambda/api-send-email/main.py
  lambda/api-update-unavailable-slots/main.py
  lambda/backup-restore/main.py
  lambda/common_lib/report_upload_utils.py
  lambda/common_lib/unavailable_slots_utils.py
  lambda/common_lib/websocket_utils.py
  lambda/email-processor/main.py
  lambda/ses-bounce-handler/main.py
  lambda/ses-complaint-handler/main.py
  lambda/ses-delivery-handler/main.py
  lambda/sqs-process-email-notification-queue/main.py
  lambda/sqs-process-firebase-notification-queue/main.py
  lambda/sqs-process-invoice-queue/main.py
  lambda/sqs-process-websocket-notification-queue/main.py
  lambda/staff-authorizer-optional/main.py
  lambda/staff-authorizer/main.py
  lambda/ws-connect/main.py
  lambda/ws-disconnect/main.py
  lambda/ws-init/main.py
  lambda/ws-ping/main.py
  lambda/ws-staff-init/main.py
Due: python-syntax-check

fix: Remove unused import and adjust initialization in StaffInitManager
  lambda/common_lib/websocket_utils.py
Due: python-syntax-check

feat: Add USERS_TABLE reference to Lambda environment variables and comment out ownership check in data retrieval
  infrastructure/lambda-functions.yaml
  lambda/common_lib/data_retrieval_utils.py
Due: validate-cloudformation, python-syntax-check

feat: Add EmailSuppressionTable reference in notification queue and main stack; update import statements in appointment and order managers
  infrastructure/main-stack.yaml
  infrastructure/notification-queue.yaml
  lambda/common_lib/appointment_manager.py
  lambda/common_lib/order_manager.py
Due: validate-cloudformation, python-syntax-check

feat: Enhance SES validation script with automatic identity verification and DNS requirement checks
  validate-ses.sh
Due: none

feat: Enhance SES email configuration with detailed notifications and verification steps
  deploy.sh
Due: none

refactor: Rename email parameters for consistency across configurations
  deploy.sh
  infrastructure/lambda-functions.yaml
  infrastructure/main-stack.yaml
  infrastructure/notification-queue.yaml
  infrastructure/ses-bounce-complaint-system.yaml
  infrastructure/ses-email-storage.yaml
  lambda/common_lib/email_utils.py
Due: validate-cloudformation, python-syntax-check

fix: Update NO_REPLY_EMAIL reference to use MailSendingAddress for consistency
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

feat: Add development environment configuration for Lambda updates management
  config/dev.env.sh
  deploy.sh
Due: none

fix: Set SKIP_LAMBDAS to true for faster infrastructure-only deployments in development
  config/dev.env.sh
Due: none

fix: Update BehaviorOnMxFailure value to uppercase for consistency
  infrastructure/ses-identities-route53.yaml
Due: validate-cloudformation

fix: Rename ConfigurationSetName to Name for consistency in SES Configuration Set
  infrastructure/ses-identities-route53.yaml
Due: validate-cloudformation

fix: Remove ConfigurationSetName from SES attributes for consistency
  infrastructure/ses-identities-route53.yaml
Due: validate-cloudformation

fix: Update SES Domain Identity configuration and remove redundant MAIL FROM identity
  infrastructure/main-stack.yaml
  infrastructure/ses-identities-route53.yaml
Due: validate-cloudformation

fix: Refactor S3 bucket notification configuration to avoid circular dependencies and improve clarity
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

fix: Update MailReceivingAddress output reference for consistency
  infrastructure/main-stack.yaml
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

fix: Add MailReceivingAddress reference to SESEmailStorageStack configuration
  infrastructure/main-stack.yaml
Due: validate-cloudformation

fix: Add MailReceivingAddress parameter with description for clarity
  infrastructure/ses-bounce-complaint-system.yaml
Due: validate-cloudformation

fix: Refactor S3 bucket notification configuration to eliminate circular dependencies and enhance error handling
  deploy.sh
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

fix: Implement SES domain notifications configuration with verification checks and error handling
  deploy.sh
  infrastructure/ses-notification-config.yaml
Due: validate-cloudformation

fix: Add functionality to deactivate SES rule sets during cleanup and handle deactivation on resource deletion
  cleanup.sh
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

fix: Remove cleanup confirmation step and enhance S3 bucket deletion process
  .github/workflows/cleanup.yml
  cleanup.sh
Due: none

fix: Enhance stack deletion process with comprehensive diagnostics and resource cleanup
  cleanup.sh
Due: none

fix: Correctly close conditional in delete_stack function to ensure proper execution flow
  cleanup.sh
Due: none

fix: Enhance S3 bucket cleanup logic to protect critical resources and ensure only environment-specific buckets are emptied
  cleanup.sh
  config/dev.env.sh
Due: none

fix: Enhance SES notification configurator with improved error handling and logging
  infrastructure/ses-notification-config.yaml
Due: validate-cloudformation

fix: Update SKIP_LAMBDAS to true for faster infrastructure-only deployments in development
  config/dev.env.sh
Due: none

fix: Update cleanup script to use bucket name prefixes and adjust environment configuration for dynamic bucket names
  cleanup.sh
  config/dev.env.sh
  config/environments.sh
Due: none

fix: Update API Gateway configuration to include ApiStage in dependencies and reference
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Enhance S3 bucket cleanup logic to skip critical buckets and only process environment-specific buckets
  cleanup.sh
Due: none

fix: Correct S3 bucket notification configuration key from LambdaConfigurations to LambdaFunctionConfigurations
  deploy.sh
Due: none

fix: Update DKIM record configurations to use GetAtt for token names and values
  infrastructure/ses-identities-route53.yaml
Due: validate-cloudformation

fix: Swap MAIL_FROM_ADDRESS and NO_REPLY_EMAIL for SES configuration in environment script
  config/environments.sh
Due: none

fix: Set SKIP_LAMBDAS to false for including Lambda updates during development deployments
  config/dev.env.sh
Due: none

Path conditions:
  validate-cloudformation: any of: ^infrastructure/.*\.yaml$
  python-syntax-check: any of: ^lambda/.*\.py$
