Repository Auto-Lab-Solutions/Web-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloudformation, python-syntax-check

validate-cloudformation:
  name: Validate CloudFormation Templates
  entry: bash -c
  args:
  - "for template in infrastructure/*.yaml; do\n  echo \"Validating $template\"\n  aws cloudformation validate-template --template-body file://$template --region ap-southeast-2 || exit 1\ndone\n"
  language: system
  pass_filenames: false

python-syntax-check:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system

feat: Enhance update-websocket-endpoints.sh with test flow and JSON validation improvements
  update-websocket-endpoints.sh
Due: none

feat: Enhance update_lambda_websocket_env and testing functions with AWS Lambda environment structure handling
  update-websocket-endpoints.sh
Due: none

feat: Add test scenario and debug mode options to update-websocket-endpoints.sh for enhanced testing and debugging capabilities
  update-websocket-endpoints.sh
Due: none

feat: Add --test-user option and corresponding function for testing user-specific scenarios in update-websocket-endpoints.sh
  update-websocket-endpoints.sh
Due: none

fix: Update increment syntax for counters in update_lambda_websocket_env and related functions
  update-websocket-endpoints.sh
Due: none

refactor: Remove unused test functions and update WebSocket endpoint handling to use HTTPS
  update-websocket-endpoints.sh
Due: none

feat: Add new API endpoints for user online status, appointments, orders, and inquiries with CORS support
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

feat: Update API methods for appointments, orders, and inquiries to use new HTTP verbs
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

feat: Add CORS support for Confirm Payment endpoint and remove unused Connections endpoint
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

feat: Update API Gateway configuration for messages endpoint with CORS support and add OPTIONS method for notify resource
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

feat: Update S3 bucket naming convention to include AWS account ID and environment for better resource management
  config/environments.sh
  infrastructure/main-stack.yaml
  infrastructure/s3-cloudfront.yaml
Due: validate-cloudformation

feat: Update TargetOriginId in CloudFront distribution to include AWS account ID and environment for better resource identification
  infrastructure/s3-cloudfront.yaml
Due: validate-cloudformation

feat: Enhance AWS_ACCOUNT_ID validation with error message for better debugging
  config/environments.sh
Due: none

feat: Update S3 bucket naming and frontend configuration for development and production environments
  config/environments.sh
Due: none

feat: Update ACM certificate ARN and simplify S3 bucket naming for frontend configuration
  config/environments.sh
  infrastructure/frontend-website.yaml
Due: validate-cloudformation

feat: Update S3 bucket name format in deployment validation to include AWS account ID and environment
  validate-deployment.sh
Due: none

feat: Implement cash payment confirmation API and update related resources
  infrastructure/lambda-functions.yaml
  lambda/api-confirm-cash-payment/main.py
  lambda/api-confirm-cash-payment/requirements.txt
  lambda/api-create-payment-intent/main.py
  lambda/api-get-analytics/main.py
  lambda/api-update-appointment/main.py
  lambda/api-update-order/main.py
  lambda/api-webhook-stripe-payment/main.py
  lambda/api-webhook-stripe-payment/requirements.txt
  lambda/common_lib/db_utils.py
  update-websocket-endpoints.sh
  validate-deployment.sh
Due: validate-cloudformation, python-syntax-check

feat: Refactor payment confirmation process to support cash payments and update related resources
  infrastructure/api-gateway.yaml
  infrastructure/main-stack.yaml
  lambda/api-confirm-cash-payment/main.py
  lambda/api-confirm-payment-success/main.py
  lambda/api-webhook-stripe-payment/main.py
Due: validate-cloudformation, python-syntax-check

feat: Remove unused ConfirmPaymentSuccessArn output from API Gateway resources
  infrastructure/main-stack.yaml
Due: validate-cloudformation

feat: Add CloudFront distribution ID retrieval to show_endpoints function and remove unused payment confirmation API
  dev-tools.sh
  lambda/api-confirm-payment-success/main.py
  lambda/api-confirm-payment-success/requirements.txt
Due: python-syntax-check

feat: Implement Confirm Stripe Payment functionality with Lambda and API Gateway integration
  infrastructure/api-gateway.yaml
  infrastructure/lambda-functions.yaml
  infrastructure/main-stack.yaml
  lambda/api-confirm-stripe-payment/main.py
  lambda/api-confirm-stripe-payment/requirements.txt
Due: validate-cloudformation, python-syntax-check

feat: Add Stripe Webhook URL to show_endpoints function
  dev-tools.sh
Due: none

fix: Update Stripe Webhook URL path and correct API Gateway resource path
  dev-tools.sh
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Correct PathPart for Confirm Stripe Payment method in API Gateway
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

feat: Add DynamoDB initialization after Lambda updates in pipeline mode and create seed data JSON files
  deploy.sh
  dynamodb-seed-data/ItemPrices.json
  dynamodb-seed-data/ServicePrices.json
  dynamodb-seed-data/Staff.json
  initialize-dynamodb-data.sh
  test-pipeline.sh
  update-lambdas.sh
Due: none

fix: Correct ROOT_DIR path in DynamoDB initialization script
  initialize-dynamodb-data.sh
Due: none

fix: Update data insertion method in DynamoDB initialization script for improved readability
  initialize-dynamodb-data.sh
Due: none

fix: Enhance payment confirmation checks and authorization roles in appointment updates
  lambda/api-confirm-cash-payment/main.py
  lambda/api-create-payment-intent/main.py
  lambda/api-update-appointment/main.py
Due: python-syntax-check

fix: Simplify parameter validation in payment confirmation handler
  lambda/api-confirm-stripe-payment/main.py
Due: python-syntax-check

fix: Add missing CORS headers in response utility
  lambda/common_lib/response_utils.py
Due: python-syntax-check

fix: Remove IdentitySource from StaffAuthorizer configurations in API Gateway
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Add IdentitySource to StaffAuthorizer configurations in API Gateway
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Update IdentitySource in StaffAuthorizer configurations to use Authorization header
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Disable caching for StaffAuthorizer configurations in API Gateway
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

feat: Add Stripe webhook endpoint configuration and update script
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  config/environments.sh
  deploy.sh
  infrastructure/main-stack.yaml
  update-stripe-webhook.sh
Due: validate-cloudformation

fix: Correct URL format for Stripe Payment Webhook output
  infrastructure/main-stack.yaml
Due: validate-cloudformation

feat: Update deployment scripts to manage Stripe webhook and frontend environment variables
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  config/environments.sh
  deploy.sh
  update-frontend-env-vars.sh
  update-stripe-webhook.sh
Due: none

fix: Simplify loading of environment configuration in deployment scripts
  update-frontend-env-vars.sh
  update-stripe-webhook.sh
Due: none

Path conditions:
  validate-cloudformation: any of: ^infrastructure/.*\.yaml$
  python-syntax-check: any of: ^lambda/.*\.py$
