Repository Auto-Lab-Solutions/Web-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloudformation, python-syntax-check

validate-cloudformation:
  name: Validate CloudFormation Templates
  entry: bash -c
  args:
  - "for template in infrastructure/*.yaml; do\n  echo \"Validating $template\"\n  aws cloudformation validate-template --template-body file://$template --region ap-southeast-2 || exit 1\ndone\n"
  language: system
  pass_filenames: false

python-syntax-check:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system

feat: Update frontend environment variable logging in deployment script
  .github/workflows/deploy-dev.yml
  update-frontend-env-vars.sh
Due: none

fix: Update variable names for frontend repository in environment update script
  update-frontend-env-vars.sh
Due: none

fix: Enhance error handling for environment variable creation and update in deployment script
  update-frontend-env-vars.sh
Due: none

fix: Improve error handling for environment variable updates in deployment script
  update-frontend-env-vars.sh
Due: none

fix: Streamline environment variable update process in deployment script
  update-frontend-env-vars.sh
Due: none

fix: Restore deployment steps in development workflow
  .github/workflows/deploy-dev.yml
Due: none

fix: Refactor payment intent handler to retrieve user ID from request body
  infrastructure/websocket-api.yaml
  lambda/api-create-payment-intent/main.py
Due: validate-cloudformation, python-syntax-check

fix: Update AWS credentials configuration for validation step in Lambda update workflow
  .github/workflows/update-lambdas.yml
Due: none

fix: Update Stripe webhook URL and improve error handling for signature verification
  infrastructure/main-stack.yaml
  lambda/api-confirm-stripe-payment/main.py
  lambda/api-webhook-stripe-payment/main.py
Due: validate-cloudformation, python-syntax-check

fix: Remove unnecessary comments and set -e from update-lambdas.sh
  update-lambdas.sh
Due: none

fix: Add api-confirm-stripe-payment to WebSocket endpoints and deployment validation
  update-lambdas.sh
  update-websocket-endpoints.sh
  validate-deployment.sh
Due: none

feat: Add Lambda function code update and S3 upload functionality to deployment scripts
  deploy.sh
  update-lambdas.sh
Due: none

feat: Add function_exists to check for existing Lambda functions in AWS
  deploy.sh
Due: none

fix: Skip packaging and updating for common library in Lambda functions
  deploy.sh
  update-lambdas.sh
Due: none

feat: Update WebSocket endpoint functions to include new API endpoints
  update-websocket-endpoints.sh
Due: none

feat: Add invoice generation functionality and related utilities
  infrastructure/dynamodb-tables.yaml
  infrastructure/lambda-functions.yaml
  infrastructure/main-stack.yaml
  lambda/api-confirm-cash-payment/main.py
  lambda/api-confirm-cash-payment/requirements.txt
  lambda/api-confirm-stripe-payment/main.py
  lambda/api-confirm-stripe-payment/requirements.txt
  lambda/api-webhook-stripe-payment/main.py
  lambda/api-webhook-stripe-payment/requirements.txt
  lambda/common_lib/db_utils.py
  lambda/common_lib/invoice_utils.py
  lambda/common_lib/requirements.txt
Due: validate-cloudformation, python-syntax-check

feat: Add frontend root URL for invoice generation and update related CloudFormation parameters
  deploy.sh
  infrastructure/main-stack.yaml
  lambda/api-confirm-cash-payment/requirements.txt
  lambda/api-confirm-stripe-payment/requirements.txt
  lambda/api-webhook-stripe-payment/requirements.txt
Due: validate-cloudformation

feat: Refactor invoice generation logic and enhance error handling; add new tables for invoice processing
  .github/CI-CD.md
  infrastructure/lambda-functions.yaml
  lambda/api-confirm-cash-payment/main.py
  lambda/api-confirm-stripe-payment/main.py
  lambda/api-webhook-stripe-payment/main.py
  lambda/common_lib/db_utils.py
  lambda/common_lib/invoice_utils.py
Due: validate-cloudformation, python-syntax-check

Enhance invoice generation and access permissions
  infrastructure/lambda-functions.yaml
  lambda/api-confirm-cash-payment/main.py
  lambda/api-confirm-cash-payment/requirements.txt
  lambda/api-confirm-stripe-payment/main.py
  lambda/api-confirm-stripe-payment/requirements.txt
  lambda/api-webhook-stripe-payment/main.py
  lambda/api-webhook-stripe-payment/requirements.txt
  lambda/common_lib/db_utils.py
  lambda/common_lib/invoice_utils.py
Due: validate-cloudformation, python-syntax-check

feat: Implement asynchronous invoice processing with SQS and Lambda; update related infrastructure and utilities
  deploy.sh
  infrastructure/invoice-queue.yaml
  infrastructure/lambda-functions.yaml
  infrastructure/main-stack.yaml
  lambda/api-process-invoice-queue/main.py
  lambda/api-process-invoice-queue/requirements.txt
  lambda/api-webhook-stripe-payment/main.py
  lambda/common_lib/invoice_utils.py
Due: validate-cloudformation, python-syntax-check

fix: Update S3 key path for invoice processing Lambda function
  infrastructure/invoice-queue.yaml
Due: validate-cloudformation

feat: Add new DynamoDB tables for message handling and inquiries in the infrastructure stack
  infrastructure/main-stack.yaml
Due: validate-cloudformation

refactor: Remove unused IAM policy for webhook Lambda in invoice processing
  infrastructure/invoice-queue.yaml
Due: validate-cloudformation

fix: Update Lambda runtime to Python 3.13 and add S3 permissions for CloudFormation bucket access
  infrastructure/invoice-queue.yaml
Due: validate-cloudformation

feat: Add missing upload for invoice-queue CloudFormation template
  upload-templates.sh
Due: none

fix: Correct visibility timeout property name in SQS queue configuration
  infrastructure/invoice-queue.yaml
Due: validate-cloudformation

fix: Update SQS permissions to allow access to all resources in InvoiceQueue
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

fix: Skip updating Lambda functions managed by other stacks in deployment scripts
  deploy.sh
  infrastructure/invoice-queue.yaml
  update-lambdas.sh
Due: validate-cloudformation

feat: Rename and implement SQS processing for invoice generation; update related configurations
  deploy.sh
  infrastructure/invoice-queue.yaml
  infrastructure/main-stack.yaml
  lambda/sqs-process-invoice-queue/main.py
  lambda/sqs-process-invoice-queue/requirements.txt
  update-lambdas.sh
Due: validate-cloudformation, python-syntax-check

feat: Implement asynchronous invoice generation using SQS; add utility functions for queuing and synchronous fallback
  lambda/api-confirm-cash-payment/main.py
  lambda/api-confirm-stripe-payment/main.py
  lambda/api-webhook-stripe-payment/main.py
  lambda/common_lib/sqs_utils.py
Due: python-syntax-check

feat: Add support for updating Invoice Processor Lambda and validate SQS queue accessibility
  deploy.sh
  infrastructure/lambda-functions.yaml
  infrastructure/main-stack.yaml
  update-lambdas.sh
  validate-deployment.sh
Due: validate-cloudformation

feat: Enhance payment confirmation to support multiple payment methods and update invoice generation logic
  lambda/api-confirm-cash-payment/main.py
  lambda/common_lib/sqs_utils.py
Due: python-syntax-check

feat: Add API for generating invoices and integrate with existing payment methods; update related Lambda functions and permissions
  infrastructure/api-gateway.yaml
  infrastructure/lambda-functions.yaml
  infrastructure/main-stack.yaml
  lambda/api-confirm-cash-payment/requirements.txt
  lambda/api-confirm-stripe-payment/requirements.txt
  lambda/api-generate-invoice/main.py
  lambda/api-generate-invoice/requirements.txt
  lambda/api-webhook-stripe-payment/requirements.txt
  lambda/common_lib/db_utils.py
  lambda/common_lib/invoice_utils.py
  lambda/common_lib/sqs_utils.py
  validate-deployment.sh
Due: validate-cloudformation, python-syntax-check

feat: Add Get Invoices API and related Lambda function; update DynamoDB and SQS utilities for invoice management
  infrastructure/api-gateway.yaml
  infrastructure/dynamodb-tables.yaml
  infrastructure/lambda-functions.yaml
  infrastructure/main-stack.yaml
  lambda/api-generate-invoice/main.py
  lambda/api-get-invoices/main.py
  lambda/common_lib/db_utils.py
  lambda/common_lib/invoice_utils.py
  lambda/common_lib/sqs_utils.py
  validate-deployment.sh
Due: validate-cloudformation, python-syntax-check

fix: Downgrade Pillow version to 9.5.0 in requirements for consistency across invoice processing modules
  lambda/api-generate-invoice/requirements.txt
  lambda/sqs-process-invoice-queue/requirements.txt
Due: none

fix: Update Pillow and qrcode versions in requirements for consistency across invoice processing modules
  lambda/api-generate-invoice/requirements.txt
  lambda/sqs-process-invoice-queue/requirements.txt
Due: none

fix: Update descriptions in CloudFormation templates for clarity and consistency
  infrastructure/frontend-website.yaml
  infrastructure/invoice-queue.yaml
  infrastructure/s3-cloudfront.yaml
Due: validate-cloudformation

fix: Change invoiceDate attribute type from Number to String in DynamoDB table schema
  infrastructure/dynamodb-tables.yaml
Due: validate-cloudformation

fix: Correct reference for REPORTS_BUCKET in Lambda function environment variables
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

Path conditions:
  validate-cloudformation: any of: ^infrastructure/.*\.yaml$
  python-syntax-check: any of: ^lambda/.*\.py$
