Repository Auto-Lab-Solutions/Web-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloudformation, python-syntax-check

validate-cloudformation:
  name: Validate CloudFormation Templates
  entry: bash -c
  args:
  - "for template in infrastructure/*.yaml; do\n  echo \"Validating $template\"\n  aws cloudformation validate-template --template-body file://$template --region ap-southeast-2 || exit 1\ndone\n"
  language: system
  pass_filenames: false

python-syntax-check:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system

feat: Enhance order processing to support multiple items and improve validation logic
  lambda/api-create-order/main.py
  lambda/api-get-orders/main.py
  lambda/api-update-order/main.py
  lambda/common_lib/db_utils.py
Due: python-syntax-check

feat: Enhance order and update processing with improved validation and delivery location support
  lambda/api-create-order/main.py
  lambda/api-update-order/main.py
  lambda/common_lib/db_utils.py
  lambda/common_lib/request_utils.py
Due: python-syntax-check

feat: Improve appointment data validation logic for buyer and seller fields
  lambda/common_lib/request_utils.py
Due: python-syntax-check

Implement payment processing system with Stripe integration
  infrastructure/api-gateway.yaml
  infrastructure/dynamodb-tables.yaml
  infrastructure/lambda-functions.yaml
  infrastructure/main-stack.yaml
  lambda/api-confirm-payment-success/main.py
  lambda/api-confirm-payment-success/requirements.txt
  lambda/api-confirm-payment/main.py
  lambda/api-confirm-payment/requirements.txt
  lambda/api-create-payment-intent/main.py
  lambda/api-create-payment-intent/requirements.txt
  lambda/common_lib/auth_utils.py
  lambda/common_lib/db_utils.py
  lambda/webhook-stripe-payment/main.py
  lambda/webhook-stripe-payment/requirements.txt
Due: validate-cloudformation, python-syntax-check

feat: Add AWS credentials check and configure for validation in deployment workflow
  .github/workflows/deploy-dev.yml
Due: none

feat: Enhance CloudFormation template validation in CI/CD script
  .github/workflows/deploy-dev.yml
  auth0-actions/post-login-roles-assignment.js
  validate-cicd.sh
Due: none

feat: Update CloudFormation template validation to support standalone templates
  validate-cicd.sh
Due: none

feat: Improve CloudFormation template validation by adding checks for standalone templates and cross-reference dependencies
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: none

fix: Update deployment script usage in workflows and Lambda update script
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  update-lambdas.sh
Due: none

feat: Add Stripe configuration checks and pass secrets to CloudFormation stack
  deploy.sh
Due: none

feat: Enhance deployment scripts for automated environments by skipping confirmation prompts
  config/environments.sh
  deploy.sh
  test-pipeline.sh
  update-lambdas.sh
Due: none

fix: Update upload and configure scripts to use --env flag for environment specification
  deploy.sh
Due: none

test
  README.md
Due: none

fix: Add MinTTL to CloudFront distribution and remove empty S3OriginConfig
  infrastructure/s3-cloudfront.yaml
Due: validate-cloudformation

fix: Update CloudFront distribution configuration with managed policies and remove deprecated settings
  infrastructure/s3-cloudfront.yaml
Due: validate-cloudformation

fix: Update S3OriginConfig in CloudFront distribution to use an empty object
  infrastructure/s3-cloudfront.yaml
Due: validate-cloudformation

fix: Update CloudFront distribution properties and S3 bucket policy for improved configuration
  infrastructure/s3-cloudfront.yaml
Due: validate-cloudformation

fix: Update Lambda function names to include environment variable and add WebSocket API parameter
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

fix: Refine CloudFront Origin Access Control comments and remove unused S3 bucket policy
  infrastructure/s3-cloudfront.yaml
Due: validate-cloudformation

fix: Update S3 and CloudFront configuration with improved comments and policies
  infrastructure/s3-cloudfront.yaml
Due: validate-cloudformation

fix: Update CloudFront distribution dependencies and improve bucket policy condition syntax
  infrastructure/s3-cloudfront.yaml
Due: validate-cloudformation

fix: Update Lambda function tags to use key-value format for environment variable
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

fix: Remove API Gateway deployment commands and add API Gateway stage configuration
  deploy.sh
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Update API Gateway deployment for stage separation and improve deployment description
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Update WebSocket function names to include environment suffix and add new payment-related API functions
  configure-lambda-env.sh
  validate-deployment.sh
Due: none

fix: Remove redundant variable declaration for WebSocket endpoint in show_endpoints function
  dev-tools.sh
Due: none

fix: Improve error handling for AWS commands in show_status function
  dev-tools.sh
Due: none

fix: Add Payments table configuration and update show_status function to verify required variables
  config/environments.sh
  dev-tools.sh
Due: none

fix: Enhance error handling in Lambda function tests and improve log retrieval for cross-platform compatibility
  .github/workflows/deploy-dev.yml
  dev-tools.sh
Due: none

feat: Add frontend deployment configuration and resources for S3 and CloudFront
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  config/environments.sh
  deploy.sh
  dev-tools.sh
  infrastructure/frontend-website.yaml
  infrastructure/main-stack.yaml
  upload-templates.sh
Due: validate-cloudformation

fix: Update WebSocket API integrations to use AWS integration type and add response handling
  infrastructure/websocket-api.yaml
Due: validate-cloudformation

fix: Remove unnecessary IntegrationResponseSelectionExpression from WebSocket integrations
  infrastructure/websocket-api.yaml
Due: validate-cloudformation

feat: Update environment configuration to include Auth0 domain and audience, CloudFront domain, and shared key for secure operations
  config/environments.sh
  deploy.sh
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

refactor: Rename SHARED_API_KEY to SHARED_KEY and update environment variable handling across deployment scripts and Lambda functions
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  auth0-actions/post-login-roles-assignment.js
  config/environments.sh
  deploy.sh
  infrastructure/lambda-functions.yaml
  lambda/common_lib/wsgw_utils.py
Due: validate-cloudformation, python-syntax-check

feat: Add default values for Auth0 domain, audience, CloudFront domain, and shared key parameters in Lambda configuration
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

feat: Update environment configuration to use vars for Auth0 domain and audience, and add shared key parameters
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  config/environments.sh
  deploy.sh
  infrastructure/main-stack.yaml
  lambda/common_lib/s3_utils.py
Due: validate-cloudformation, python-syntax-check

fix: Update WebSocket endpoint URL to use HTTPS for secure connections
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

feat: Replace configure-lambda-env.sh with update-websocket-endpoints.sh to manage WebSocket endpoint updates in Lambda functions
  configure-lambda-env.sh
  deploy.sh
  infrastructure/lambda-functions.yaml
  update-websocket-endpoints.sh
Due: validate-cloudformation

feat: Add verbose and list-functions options to update-websocket-endpoints.sh for improved debugging and function status reporting
  update-websocket-endpoints.sh
Due: none

feat: Add test-json option to update-websocket-endpoints.sh for debugging JSON file approach
  update-websocket-endpoints.sh
Due: none

Path conditions:
  validate-cloudformation: any of: ^infrastructure/.*\.yaml$
  python-syntax-check: any of: ^lambda/.*\.py$
