Repository Auto-Lab-Solutions/Web-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloudformation, python-syntax-check

.pre-commit-config.yaml:

# Pre-commit hooks for Auto Lab Solutions Backend
# Install: pip install pre-commit
# Setup: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-executables-have-shebangs

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3
        files: ^lambda/.*\.py$

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        files: ^lambda/.*\.py$
        args: [--max-line-length=88, --extend-ignore=E203,W503]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        files: ^lambda/.*\.py$
        args: [-ll, --skip=B101]

  - repo: local
    hooks:
      - id: validate-cloudformation
        name: Validate CloudFormation Templates
        entry: bash -c
        args:
          - |
            for template in infrastructure/*.yaml; do
              echo "Validating $template"
              aws cloudformation validate-template --template-body file://$template --region ap-southeast-2 || exit 1
            done
        language: system
        files: ^infrastructure/.*\.yaml$
        pass_filenames: false

      - id: python-syntax-check
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: ^lambda/.*\.py$

fix: Update SKIP_LAMBDAS to true for faster infrastructure-only deployments in development
  config/dev.env.sh
Due: none

fix: Simplify SES notification configurator function and reduce timeout
  infrastructure/ses-notification-config.yaml
Due: validate-cloudformation

fix: Enhance SES notification configurator with improved error handling and validation
  infrastructure/ses-notification-config.yaml
Due: validate-cloudformation

fix: Enhance SES deployment scripts with domain verification and notification configuration
  deploy.sh
  infrastructure/ses-email-storage.yaml
  infrastructure/ses-identities-route53.yaml
  infrastructure/ses-notification-config.yaml
Due: validate-cloudformation

fix: Update SES domain identity configuration and DNS records for improved email handling
  infrastructure/ses-identities-route53.yaml
Due: validate-cloudformation

fix: Correct SES domain identity resource types and update outputs for verification
  infrastructure/ses-identities-route53.yaml
Due: validate-cloudformation

refactor: Simplify SES infrastructure by removing notification and processing components, and add receipt rules for email storage
  deploy.sh
  infrastructure/lambda-functions.yaml
  infrastructure/main-stack.yaml
  infrastructure/ses-email-storage.yaml
  infrastructure/ses-identities-route53.yaml
  infrastructure/ses-receipt-rules.yaml
  upload-templates.sh
Due: validate-cloudformation

fix: Remove unused attributes from Outputs in SES email storage configuration
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

Refactor SES Domain Verification Process
  cleanup.sh
  deploy.sh
  docs/SES_AUTOMATED_VERIFICATION.md
  infrastructure/lambda-functions.yaml
  infrastructure/main-stack.yaml
  infrastructure/ses-email-storage.yaml
  infrastructure/ses-identities-with-route53-records.yaml
  infrastructure/ses-notification-config.yaml
  infrastructure/ses-receipt-rules.yaml
  lambda/api-confirm-cash-payment/main.py
  upload-templates.sh
Due: validate-cloudformation, python-syntax-check

refactor: Enhance CloudFormation parameters for improved deployment configuration
  deploy.sh
Due: none

feat: Add bucket information display in main deployment function
  deploy.sh
Due: none

fix: Remove redundant bucket information display in main deployment function
  deploy.sh
  upload-templates.sh
Due: none

fix: Comment out optional Firebase Notifications parameters in deploy script
  deploy.sh
Due: none

feat: Add Firebase notifications parameters and Notification Queue Stack to CloudFormation template
  infrastructure/main-stack.yaml
Due: validate-cloudformation

feat: Enable Firebase Notifications parameters in deployment script and update SES verification process in CloudFormation template
  deploy.sh
  infrastructure/ses-identities-with-route53-records.yaml
Due: validate-cloudformation

fix: Simplify conditions for SES domain verification in CloudFormation template
  infrastructure/ses-identities-with-route53-records.yaml
Due: validate-cloudformation

fix: Correct MailFromAddress reference to use MailReceivingAddress in SES rule activation
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

fix: Remove unused EmailMetadataTable output from SES email storage template
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

fix: Remove unused EmailProcessorFunctionArn output from SES email storage template
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

feat: Add SES Email Receiving Infrastructure deployment workflow and associated scripts
  .github/workflows/deploy-ses-email-receiving.yml
  email-receiving-infrastructure/.gitignore
  email-receiving-infrastructure/deploy-ses-email-receiving.sh
  email-receiving-infrastructure/ses-email-receiving.yaml
Due: none

fix: Add SES Bounce/Complaint Stack and update NotificationQueueStack parameters to resolve CREATE_FAILED state
  infrastructure/main-stack.yaml
Due: validate-cloudformation

fix: Update NotificationQueueStack dependencies and add default values for WebSocket parameters
  infrastructure/main-stack.yaml
  infrastructure/notification-queue.yaml
  lambda/common_lib/wsgw_utils.py
Due: validate-cloudformation, python-syntax-check

fix: Add condition for WebSocket processing in notification queue
  infrastructure/notification-queue.yaml
Due: validate-cloudformation

fix: Update S3 bucket policy to use dynamic bucket ARN for SES permissions
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

fix: Add SQS Queue parameters for email and WebSocket notifications
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

fix: Add Email Suppression and Metadata DynamoDB tables with necessary configurations
  deploy.sh
  infrastructure/lambda-functions.yaml
  infrastructure/main-stack.yaml
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

fix: Add API Email Suppression Manager Lambda function with necessary configurations
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

fix: Add SES Domain Identity resource and output for email receiving
  infrastructure/ses-identities-with-route53-records.yaml
Due: validate-cloudformation

fix: Enhance CloudFormation stack deployment process with detailed status checks and error handling
  deploy.sh
Due: none

feat: Implement SES domain verification script and enhance deployment process with automatic DNS setup
  check-ses-status.sh
  deploy.sh
  infrastructure/ses-identities-with-route53-records.yaml
Due: validate-cloudformation

fix: Remove extraneous closing brace in show_usage function in deployment script
  deploy.sh
Due: none

fix: Remove redundant SES domain verification status handling from the deployment script
  deploy.sh
Due: none

fix: Update Lambda runtime to Python 3.11 and clean up unused output parameters in SES domain verification template
  infrastructure/ses-identities-with-route53-records.yaml
Due: validate-cloudformation

fix: Update SES verification function name to include environment name
  infrastructure/ses-identities-with-route53-records.yaml
Due: validate-cloudformation

feat: Add custom MAIL FROM domain support for SES verification and enhance DNS setup
  infrastructure/main-stack.yaml
  infrastructure/ses-identities-with-route53-records.yaml
Due: validate-cloudformation

fix: Update SES verification instructions to reference DkimTokens output
  infrastructure/ses-identities-with-route53-records.yaml
Due: validate-cloudformation

fix: Update SES DKIM setup process to use verify_domain_dkim and streamline token retrieval
  infrastructure/ses-identities-with-route53-records.yaml
Due: validate-cloudformation

fix: Update MX record references to use the correct Amazon SES endpoint
  check-ses-status.sh
  infrastructure/ses-identities-with-route53-records.yaml
  validate-ses.sh
Due: validate-cloudformation

feat: Update development environment to include Lambda updates
  config/dev.env.sh
  infrastructure/main-stack.yaml
  infrastructure/notification-queue.yaml
  infrastructure/ses-email-storage.yaml
  lambda/common_lib/email_manager.py
  lambda/email-processor/main.py
  update-lambdas.sh
Due: validate-cloudformation, python-syntax-check

feat: Enhance SES email storage with S3-triggered processing and custom notification configuration
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation
