Repository Auto-Lab-Solutions/Web-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloudformation, python-syntax-check

validate-cloudformation:
  name: Validate CloudFormation Templates
  entry: bash -c
  args:
  - "for template in infrastructure/*.yaml; do\n  echo \"Validating $template\"\n  aws cloudformation validate-template --template-body file://$template --region ap-southeast-2 || exit 1\ndone\n"
  language: system
  pass_filenames: false

python-syntax-check:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system

feat: Configure S3 bucket notifications for email processing and update SES verification instructions
  deploy.sh
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

fix: Remove AWS_REGION reference from notification queue configuration
  infrastructure/notification-queue.yaml
Due: validate-cloudformation

fix: Remove unused ApiBackupRestoreArn reference from API configuration
  infrastructure/main-stack.yaml
Due: validate-cloudformation

feat: Enable skipping Lambda updates during development deployments
  config/dev.env.sh
  configure-s3-email-notification.sh
Due: none

feat: Update S3 bucket name to include AWS account ID and environment
  configure-s3-email-notification.sh
Due: none

fix: Correct JSON key for Lambda configurations in S3 notification script
  configure-s3-email-notification.sh
Due: none

feat: Refactor backup Lambda function names and update deployment scripts to use new naming convention
  deploy.sh
  infrastructure/backup-system.yaml
  update-lambdas.sh
  validate-deployment.sh
Due: validate-cloudformation

feat: Add helper function for full function name resolution and update expected functions list
  dev-tools.sh
  update-lambda-variables.sh
Due: none

refactor: Update backup stack name format in deployment validation script refactor: Remove email verification check from SES validation script
  validate-deployment.sh
  validate-ses.sh
Due: none

refactor: Remove toEmail field and update email metadata handling to use toEmails array
  infrastructure/ses-email-storage.yaml
  lambda/common_lib/email_manager.py
  lambda/email-processor/main.py
Due: validate-cloudformation, python-syntax-check

feat: Enhance email processing with Firebase notifications for received emails and update SES email storage stack dependencies
  infrastructure/main-stack.yaml
  infrastructure/ses-email-storage.yaml
  lambda/common_lib/notification_manager.py
  lambda/email-processor/main.py
Due: validate-cloudformation, python-syntax-check

refactor: Update sample data in documentation and seed file with new staff user details
  CUSTOMER_TIMESLOT_CHECK.md
  DATABASE_TABLES_DOCUMENTATION.md
  dynamodb-seed-data/Staff.json
Due: none

fix: Update frontend repository owner in environment configuration
  config/environments.sh
Due: none

Add new email notification screenshots for various appointment statuses and payment confirmations
  README.md
  screenshots/Email_Appointment_Updated_to_Completed.png
  screenshots/Email_Appointment_Updated_to_Scheduled.png
  screenshots/Email_By_Admin_To_Customer.png
  screenshots/Email_Inspection_Report_Ready.png
  screenshots/Email_Payment_Complete.png
  screenshots/Payment_Invoice.png
Due: none

refactor: Simplify appointment and notification workflows in documentation
  README.md
Due: none

Path conditions:
  validate-cloudformation: any of: ^infrastructure/.*\.yaml$
  python-syntax-check: any of: ^lambda/.*\.py$
