Repository Auto-Lab-Solutions/Web-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloudformation, python-syntax-check

validate-cloudformation:
  name: Validate CloudFormation Templates
  entry: bash -c
  args:
  - "for template in infrastructure/*.yaml; do\n  echo \"Validating $template\"\n  aws cloudformation validate-template --template-body file://$template --region ap-southeast-2 || exit 1\ndone\n"
  language: system
  pass_filenames: false

python-syntax-check:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system

fix: Update permitted roles to include CLERK for various Lambda functions and notifications
  lambda/api-get-analytics/main.py
  lambda/api-get-appointments/main.py
  lambda/api-get-connections/main.py
  lambda/api-get-last-messages/main.py
  lambda/api-get-orders/main.py
  lambda/api-get-report-upload-url/main.py
  lambda/api-update-appointment/main.py
  lambda/common_lib/notification_utils.py
  lambda/ws-staff-init/main.py
Due: python-syntax-check

Add Backup/Restore API and Lambda Functions
  deploy.sh
  infrastructure/api-gateway.yaml
  infrastructure/backup-system.yaml
  infrastructure/lambda-functions.yaml
  infrastructure/main-stack.yaml
  lambda/api-backup-restore/main.py
  lambda/backup-restore/main.py
  lambda/common_lib/db_utils.py
  lambda/common_lib/s3_utils.py
  update-lambdas.sh
  validate-deployment.sh
Due: validate-cloudformation, python-syntax-check

feat: Add support for custom domains in API Gateway and WebSocket API
  README.md
  config/environments.sh
  deploy.sh
  infrastructure/api-gateway.yaml
  infrastructure/main-stack.yaml
  infrastructure/websocket-api.yaml
  validate-deployment.sh
Due: validate-cloudformation

feat: Enhance appointment and order creation with WebSocket and Firebase notifications
  lambda/api-create-appointment/main.py
  lambda/api-create-order/main.py
Due: python-syntax-check

Refactor email notification handling and add SES bounce/complaint processing
  lambda/api-confirm-cash-payment/main.py
  lambda/api-confirm-stripe-payment/main.py
  lambda/api-create-payment-intent/main.py
  lambda/api-email-suppression-manager/main.py
  lambda/api-generate-invoice/main.py
  lambda/backup-restore/main.py
  lambda/common_lib/email_utils.py
  lambda/common_lib/invoice_utils.py
  lambda/common_lib/notification_utils.py
  lambda/common_lib/s3_utils.py
  lambda/common_lib/sqs_utils.py
  lambda/email-suppression-manager/main.py
  lambda/ses-bounce-handler/main.py
  lambda/ses-complaint-handler/main.py
  lambda/ses-delivery-handler/main.py
  lambda/sqs-process-invoice-queue/main.py
  lambda/sqs-process-websocket-notification-queue/main.py
Due: python-syntax-check

Refactor email notification system to unify data preparation and enhance update handling
  lambda/api-update-appointment/main.py
  lambda/api-update-order/main.py
  lambda/common_lib/email_utils.py
  lambda/common_lib/notification_utils.py
  lambda/sqs-process-email-notification-queue/main.py
Due: python-syntax-check

feat: Enhance backup system and SES handling
  infrastructure/api-gateway.yaml
  infrastructure/backup-system.yaml
  infrastructure/lambda-functions.yaml
  infrastructure/main-stack.yaml
  infrastructure/notification-queue.yaml
  infrastructure/s3-cloudfront.yaml
  infrastructure/ses-bounce-complaint-system.yaml
Due: validate-cloudformation

feat: Enhance SES Bounce and Complaint System
  config/environments.sh
  deploy.sh
  update-lambdas.sh
  upload-templates.sh
  validate-deployment.sh
  validate-ses-bounce-complaint-system.sh
Due: none

refactor: Clean up main-stack.yaml by removing unused Lambda stack and parameters
  infrastructure/main-stack.yaml
Due: validate-cloudformation

feat: Update Lambda environment variables script to include notification queues and enhance WebSocket endpoint handling
  deploy.sh
  infrastructure/main-stack.yaml
  update-lambda-variables.sh
Due: validate-cloudformation

fix: Correct resource ARN references in IAM policy for SES Bounce and Complaint handling
  infrastructure/ses-bounce-complaint-system.yaml
Due: validate-cloudformation

refactor: Standardize S3 upload paths for Lambda functions in deployment scripts and YAML configurations
  deploy.sh
  infrastructure/backup-system.yaml
  infrastructure/lambda-functions.yaml
  infrastructure/notification-queue.yaml
  infrastructure/ses-bounce-complaint-system.yaml
  update-lambdas.sh
Due: validate-cloudformation

refactor: Simplify S3 key references for backup Lambda functions and add export for invoice generation queue URL
  infrastructure/backup-system.yaml
  infrastructure/invoice-queue.yaml
Due: validate-cloudformation

fix: Update S3 key for backup restore Lambda function to remove environment-specific suffix
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

fix: Update Lambda function code source to use S3 bucket instead of local path
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

refactor: Remove ApiBackupRestore Lambda function and update related outputs for API Gateway integration
  infrastructure/backup-system.yaml
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

fix: Update Lambda function role reference to use GetAtt for proper ARN retrieval
  infrastructure/lambda-functions.yaml
Due: validate-cloudformation

feat: Add ApiEmailSuppressionManagerArn output to Lambda stack
  infrastructure/main-stack.yaml
Due: validate-cloudformation

fix: Remove redundant rate limiting parameters from API Gateway configuration
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Remove unused Email Suppression options methods from API Gateway resources
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Update ApiBasePathMapping to depend on ApiDeploymentV2
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Update API ACM certificate ARN in environment configuration
  config/environments.sh
Due: none

fix: Update API Gateway throttling parameters to use correct keys
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Remove throttling parameters from API Gateway configuration
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Update API Gateway to use RegionalCertificateArn instead of CertificateArn
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Simplify RateLimits output in API Gateway configuration
  infrastructure/api-gateway.yaml
Due: validate-cloudformation

fix: Enhance backup lambda function name mapping in deployment script
  deploy.sh
Due: none

fix: Remove email suppression manager lambda function
  lambda/email-suppression-manager/main.py
Due: python-syntax-check

fix: Skip Firebase notification processor if notifications are disabled
  deploy.sh
Due: none

fix: Correctly source environment configuration in update-lambda-variables script
  update-lambda-variables.sh
Due: none

fix: Update email and notification messages to include AUD currency formatting
  lambda/common_lib/email_utils.py
  lambda/common_lib/notification_utils.py
Due: python-syntax-check

fix: Comment out unauthorized access check for appointments and orders
  lambda/api-get-appointments/main.py
  lambda/api-get-orders/main.py
Due: python-syntax-check

fix: Refactor environment configuration to use variables for certificate ARNs and hosted zone IDs
  cleanup.sh
  config/environments.sh
  update-frontend-env-vars.sh
  validate-deployment.sh
Due: none

feat: Add AWS SES email processing with S3 storage and DynamoDB metadata management
  infrastructure/ses-email-storage.yaml
  lambda/email-processor/main.py
Due: validate-cloudformation, python-syntax-check

feat: Add SES email storage parameters and resources to CloudFormation templates
  infrastructure/api-gateway.yaml
  infrastructure/main-stack.yaml
  infrastructure/ses-email-storage.yaml
  upload-templates.sh
Due: validate-cloudformation

Implement SES Email Sending Functionality and Update Email Utilities
  config/environments.sh
  deploy.sh
  infrastructure/api-gateway.yaml
  infrastructure/lambda-functions.yaml
  infrastructure/notification-queue.yaml
  infrastructure/ses-bounce-complaint-system.yaml
  lambda/api-get-emails/main.py
  lambda/api-send-email/main.py
  lambda/common_lib/email_utils.py
  lambda/ses-bounce-handler/main.py
  lambda/ses-complaint-handler/main.py
  lambda/ses-delivery-handler/main.py
  validate-ses-bounce-complaint-system.sh
  validate-ses.sh
Due: validate-cloudformation, python-syntax-check

feat: Enhance SES email processing with S3 bucket notifications and DynamoDB metadata storage
  deploy.sh
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

feat: Validate S3 bucket configuration for SES and update bucket policy settings
  deploy.sh
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

feat: Update S3 bucket policies to use ARN format for email storage and permissions
  infrastructure/lambda-functions.yaml
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

feat: Update S3 bucket policy to use ARN for EmailStorageBucket resource
  infrastructure/ses-email-storage.yaml
Due: validate-cloudformation

Path conditions:
  validate-cloudformation: any of: ^infrastructure/.*\.yaml$
  python-syntax-check: any of: ^lambda/.*\.py$
